/* Primary */
$purple-100: hsl(225, 100%, 94%);
$purple-400: hsl(245, 75%, 52%);

/* Neutral */

$purple-white: hsl(225, 100%, 98%);
$blue-desaturated: hsl(224, 23%, 55%);
$blue-dark: hsl(223, 47%, 23%);

$redHat: 'Red Hat Display', sans-serif;
