@use 'utils/colors';
$cardBackground: white;

.summary-card {
	max-width: 350px;
	background: $cardBackground;

	border-radius: 2em;
	overflow: hidden;

	box-shadow: 0 0.5em 2em -2em colors.$purple-400;
}
